@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.text-1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
  line-height: 100%;
  font-weight: 300;
}

.text-2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  line-height: 100%;
  font-weight: 300;
}

.text-3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: 300;
}

.text-4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  line-height: 100%;
  font-weight: 300;
}

.text-5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: 300;
}

.text-6 {
  font-family: "Alata", sans-serif;
  font-size: 0.9375rem;
  line-height: 165%;
  font-weight: 400;
}

.text-7 {
  font-family: "Alata", sans-serif;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 0.3125rem;
  font-weight: 400;
}

body {
  letter-spacing: 0rem;
}