@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.header__list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
}

.text-1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
  line-height: 100%;
  font-weight: 300;
  text-transform: uppercase;
}

.text-2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  line-height: 100%;
  font-weight: 300;
}

.text-3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: 300;
}

.text-4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  line-height: 100%;
  font-weight: 300;
}

.text-5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: 300;
}

.text-6 {
  font-family: "Alata", sans-serif;
  font-size: 0.9375rem;
  line-height: 165%;
  font-weight: 400;
}

.text-7 {
  font-family: "Alata", sans-serif;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 0.3125rem;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: none;
  border: none;
  padding: 0;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

body {
  max-width: 90rem;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 40.625rem;
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-wrapper {
  max-width: 69.375rem;
  width: 77%;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  transform: translateY(-3rem);
}

.hero__title-container {
  height: 17.375rem;
  width: 40.625rem;
  border: 2px solid white;
  padding: 2.5rem;
}

.burger-menu {
  opacity: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10.25rem 10.25rem;
}

.about,
.creations {
  margin-bottom: 13.75rem;
}

.about {
  position: relative;
  height: 31.25rem;
}

.about__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 66%;
  height: 100%;
  background-image: url("../images/desktop/image-interactive.jpg");
}

.about__text-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 49%;
  height: 63.4%;
  z-index: 3;
  padding-top: 6rem;
  padding-left: 6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 12rem;
  height: 2rem;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__list a {
  color: #fff;
  display: inline-block;
  padding-bottom: 0.5rem;
  position: relative;
}
.header__list a::after {
  transition: width 0.3s ease;
}
.header__list a:hover::after {
  width: 50%;
}

.hero__burger {
  display: none;
  cursor: pointer;
}

.hero__title {
  color: #fff;
}

@media (max-width: 48rem) {
  .hero {
    width: 100%;
    height: 40.625rem;
    background-image: url("../images/mobile/image-hero.jpg");
    padding: 4rem 0;
  }
  .hero-wrapper {
    width: 80%;
    height: 27.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    transform: translateY(0rem);
  }
  .header__list {
    display: none;
  }
  .hero__burger {
    display: block;
    width: 2rem;
    height: 1.333125rem;
  }
  .hero__title-container {
    height: fit-content;
    max-width: 100%;
    border: 2px solid white;
    padding: 2rem;
  }
  .burger-menu.open {
    display: flex;
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.3s ease;
  }
  .burger-menu {
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease;
  }
  .burger-menu-wrapper {
    margin: 5rem 5rem 0;
    width: 100%;
    height: 23.4375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .burger-menu__close-image {
    width: 1.531875rem;
    height: 1.531875rem;
    cursor: pointer;
  }
  .burger-menu__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .burger-menu__list a {
    color: #fff;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 6.25rem 5rem;
  }
}
@media (max-width: 42.375rem) {
  .text-1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    line-height: 100%;
    font-weight: 300;
  }
  .hero__title-container {
    height: fit-content;
    max-width: 100%;
    border: 2px solid white;
    padding: 2rem;
    margin-bottom: 6rem;
    text-align: center;
  }
}
@media (max-width: 31.25rem) {
  .hero {
    width: 100%;
    height: 40.625rem;
    background-image: url("../images/mobile/image-hero.jpg");
    padding: 2.5rem 1.5;
    min-width: 23.4375rem;
  }
  .hero-wrapper {
    width: 80%;
    height: 23.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    transform: translateY(-4rem);
  }
  .header__logo {
    width: 9rem;
    height: 1.5rem;
  }
  .hero__burger {
    display: block;
    width: 1.5rem;
    height: 1rem;
  }
  .hero__title-container {
    height: fit-content;
    max-width: 100%;
    border: 2px solid white;
    padding: 1rem;
    margin-bottom: 3rem;
    text-align: left;
  }
  .burger-menu-wrapper {
    height: 24.9375rem;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 6.25rem 1.5rem;
  }
  .text-1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    line-height: 100%;
    font-weight: 300;
    text-transform: uppercase;
  }
}
.footer__item {
  width: 1.5rem;
  height: 1.5rem;
}