* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: none;
    border: none;
    padding: 0;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

body {
    max-width: px-to-rem(1440);
    min-width: px-to-rem(375);
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    // background-color: black;
}

.hero {
    width: 100%;
    height: px-to-rem(650);
    background-image: url("../images/desktop/image-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.hero-wrapper {
    max-width: px-to-rem(1110);
    width: 77%;
    height: px-to-rem(440);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    transform: translateY(-3rem);
}

.hero__title-container {
    height: px-to-rem(278);
    width: px-to-rem(650);
    border: 2px solid white;
    padding: 2.5rem;
}

.burger-menu {
    opacity: 0;
}

main {
    // display: flex;
    // flex-direction: column;
    // padding: px-to-rem(164);
    @include flex-padding(164, 164);
}

.about {
    margin-bottom: px-to-rem(220);

    h2,
    h3 {
        text-transform: uppercase;
    }
}

.about-wrapper {
    position: relative;
    height: px-to-rem(500);
}

.about__image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 66%;
    min-width: px-to-rem(375);
    height: 100%;
    background-image: url("../images/desktop/image-interactive.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.about__text-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 49%;
    min-width: px-to-rem(375);
    height: 63.4%;
    z-index: 3;
    padding-top: px-to-rem(96);
    padding-left: px-to-rem(96);
    background-color: $white;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: px-to-rem(24);
}

.creations {
    &__title {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    &__link {
        grid-column: 2 / -1;
        grid-row: 1;
        justify-self: end;
        width: px-to-rem(157);
        height: px-to-rem(40);
        border: 1px solid $black;
        display: grid;
        place-content: center;
    }

    &__grid {
        grid-column: 1 / -1;
        grid-row: 2;
        margin-top: px-to-rem(80);


    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    &__item {
        height: px-to-rem(450);
        width: 100%;
        color: $white;
        display: flex;
        align-items: end;
        text-align: end;
        background-repeat: no-repeat;

        h3 {
            margin: 2rem;
            width: 25%;
        }
    }
}

.creations-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.earth {
    background-image: url("./../images/desktop/image-deep-earth.jpg");
}

.arcade {
    background-image: url("./../images/desktop/image-night-arcade.jpg");

}

.soccer {
    background-image: url("./../images/desktop/image-soccer-team.jpg");

}

.the-grid {
    background-image: url("./../images/desktop/image-grid.jpg");

}

.up-above {
    background-image: url("./../images/desktop/image-from-above.jpg");

}

.borealis {
    background-image: url("./../images/desktop/image-pocket-borealis.jpg");

}

.curiosity {
    background-image: url("./../images/desktop/image-curiosity.jpg");

}

.fisheye {
    background-image: url("./../images/desktop/image-fisheye.jpg");
}