@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$font-stack-alata: "Alata", sans-serif;
$font-stack-josefin: "Josefin Sans", sans-serif;