@media(max-width: px-to-rem(500)) {

    //    mobile
    .hero {
        width: 100%;
        height: px-to-rem(650);
        background-image: url("../images/mobile/image-hero.jpg");
        padding: 2.5rem 1.5;
        min-width: px-to-rem(375);
    }

    .hero-wrapper {
        width: 80%;
        height: px-to-rem(383);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        transform: translateY(-4rem);
    }

    .header__logo {
        width: px-to-rem(144);
        height: px-to-rem(24);
    }

    .hero__burger {
        display: block;
        width: px-to-rem(24);
        height: px-to-rem(16);
    }

    .hero__title-container {
        height: fit-content;
        max-width: 100%;
        border: 2px solid white;
        padding: 1rem;
        margin-bottom: 3rem;
        text-align: left;
    }

    .burger-menu-wrapper {
        height: px-to-rem(399);
    }

    main {
        // display: flex;
        // flex-direction: column;
        // padding: px-to-rem(100) px-to-rem(24);
        @include flex-padding(100, 24);
    }

    .footer-wrapper {
        max-width: px-to-rem(1110);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: px-to-rem(40);

        .header__list {
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 0;
        }
    }

    .footer__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: px-to-rem(40);
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .footer__socials {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .footer__copyright {
        display: flex;
        justify-content: center;
    }


    .text-1 {
        font-family: $font-stack-josefin;
        font-size: px-to-rem(40);
        line-height: 100%;
        font-weight: 300;
        text-transform: uppercase;
    }

    .text-2 {
        font-family: $font-stack-josefin;
        font-size: px-to-rem(32);
        line-height: 100%;
        font-weight: 300;
    }
}