@media(max-width: px-to-rem(500)) {

    //    mobile
    .hero {
        width: 100%;
        height: px-to-rem(650);
        background-image: url("../images/mobile/image-hero.jpg");
        padding: 2.5rem 1.5;
    }

    .hero-wrapper {
        width: 80%;
        height: px-to-rem(383);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        background-color: aqua;
        transform: translateY(-4rem);
    }

    .header__logo {
        width: px-to-rem(144);
        height: px-to-rem(24);
    }

    .hero__burger {
        display: block;
        width: px-to-rem(24);
        height: px-to-rem(16);
    }


    .text-1 {
        font-family: $font-stack-josefin;
        font-size: px-to-rem(40);
        line-height: 100%;
        font-weight: 300;
        text-transform: uppercase;
    }
}