@media(max-width: px-to-rem(768)) {

    //    tablet
    .hero {
        width: 100%;
        height: px-to-rem(650);
        background-image: url("../images/mobile/image-hero.jpg");
        padding: 4rem 0;
    }

    .hero-wrapper {
        width: 80%;
        height: px-to-rem(440);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        transform: translateY(0rem);
    }

    .header__list {
        display: none;
    }

    .hero__burger {
        display: block;
        width: px-to-rem(32);
        height: px-to-rem(21.33);
    }

    .hero__title-container {
        height: fit-content;
        max-width: 100%;
        border: 2px solid white;
        padding: 2rem;
    }

    .burger-menu.open {
        display: flex;
        transform: translateX(0%);
        opacity: 1;
        transition: all 0.3s ease;
    }


    .burger-menu {
        position: absolute;
        background-color: $black;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.3s ease;
    }

    .burger-menu-wrapper {
        margin: 5rem 5rem 0;
        width: 100%;
        height: px-to-rem(375);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-menu__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu__close-image {
        width: px-to-rem(24.51);
        height: px-to-rem(24.51);
        cursor: pointer;
    }

    .burger-menu__list {

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        a {
            color: $white;
        }
    }

    main {
        // display: flex;
        // flex-direction: column;
        // padding: px-to-rem(100) px-to-rem(80);
        @include flex-padding(100, 80);
    }

    .about-wrapper {
        position: static;
        display: flex;
        flex-direction: column;
        height: px-to-rem(527);
        gap: px-to-rem(48);
        // height: px-to-rem(500);
    }

    .about__image-container {
        position: static;
        width: 100%;
        height: px-to-rem(284);
        background-image: url("../../images/mobile/image-interactive.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .about__text-container {
        position: static;
        width: 100%;
        min-height: px-to-rem(195);
        z-index: 3;
        padding: 0;
        background-color: $white;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        gap: px-to-rem(24);

        text-align: center;
    }
}

@media(max-width: px-to-rem(678)) {
    .text-1 {
        font-family: $font-stack-josefin;
        font-size: px-to-rem(48);
        line-height: 100%;
        font-weight: 300;
    }

    .hero__title-container {
        height: fit-content;
        max-width: 100%;
        border: 2px solid white;
        padding: 2rem;
        margin-bottom: 6rem;
        text-align: center;
    }

}